<div class="container mt">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="dashboard_wrap">
                <div class="form_blocs_wrap">
                    <form>
                        <div class="row">
                            <div class="col-6 add mb">
                               <h3 class="txt-color">Domain List</h3>
                            </div>
                            <div class="col-6 text-right add mb align-self-center">
                                    <div class="elkios">
                                        <a href="add-admin.html" class="add_new_btn" data-toggle="modal"
                                        data-target="#myModal"><i class="fas fa-plus-circle mr-1"></i>Add Admin</a>
                                    </div>
                            </div>
                            <div class="col-12">
                                <hr class="mt">
                            </div>
                            
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add New Domain</h4>
                                        </div>
                                        <div class="modal-body">
                                            <label>Enter the Domain Name:</label>
                                            <input type="text" [(ngModel)]="domainName" value="demo" placeholder="Enter the domain name" class="form-control">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" (click)="insertDomain()" class="btn">Save</button>
                                            <button type="button" class="btn"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <table class="table mx-auto text-center">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Domain Id</th>
                                            <th class="text-center">Domain Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let list of domainlist.data.rows; let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{list.domainId}}</td>
                                            <td>{{list.domainName}}</td>
                                            <td>
                                                <button class="btn">Edit</button>
                                                <button class="btn">Delete</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>