<section class="login-section">
	<div class="container">
		<div class="row justify-content-center">

			<div class="col-xl-7 col-lg-8 col-md-12 col-sm-12">
				<form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
					<div class="crs_log_wrap">
						<div class="crs_log__thumb">
							<img src="assets/img/banner-2.jpg" class="img-fluid" alt="" />
						</div>
						<div class="crs_log__caption">
							<div class="rcs_log_123">
								<div class="rcs_ico"><i class="fas fa-lock"></i></div>
							</div>

							<div class="rcs_log_124">
								<div class="Lpo09">
									<h4>Login Your Account</h4>
								</div>
								<div class="form-group">
									<label>User Name</label>
									<input type="text" class="form-control" placeholder=""
										formControlName="username" />


									<div *ngIf="loginControls['username'].touched && loginControls['username'].invalid"
										class="text-danger">
										<span *ngIf="loginControls['username'].errors?.['required']">User Name is
											required.</span>
										<span *ngIf="loginControls['username'].errors?.['email']">Invalid User</span>

									</div>
								</div>

								<div class="form-group">
									<label>Password</label>
									<input type="password" class="form-control" placeholder=""
										formControlName="password" />
								</div>
								<div *ngIf="loginControls['password'].touched && loginControls['password'].invalid"
									class="text-danger">
									<div *ngIf="loginControls['password'].errors?.['required']">Password is required.
									</div>
									<div *ngIf="loginControls['password'].errors?.['minlength']">Password should be
										minimum 6 character.</div>
								</div>
								<div class="form-group">
									<button type="submit"
										class="btn full-width btn-md theme-bg text-white">Login</button>
								</div>
								<div class="fhg_45">
									<p class="musrt"><a href="" class="text-danger">Forgot Password?</a></p>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>


</section>


