<div class="container mt">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="dashboard_wrap">
                <div class="form_blocs_wrap">
                    <form [formGroup]="addTrainingForm" action="#" class="p-3">
                        <div class="row">
                            <div class="col-6 add mb">
                                <h3 class="txt-color">Add Training</h3>
                            </div>
                        </div>
                        <div  class="row mt-5 mb-4">
                            <div class="col">
                                <label for="trainingName">Training Name</label>
                                <input formControlName="trainingName" type="text" class="form-control" id="trainingName" placeholder="Enter the Training Name"
                                    name="trainingName">
                            </div>
                            <div class="col">
                                <label for="learnersLevel">Learners Level</label>
                                <input formControlName="learnersLevel"type="text" class="form-control" placeholder="Beginners" name="trainingName" id="learnersLevel">
                            </div>
                            <div class="col">
                                <label>Stack</label>
                                <input formControlName="stack" type="text" class="form-control" placeholder="Stack" name="stack">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Training Amount</label>
                                <input formControlName="amount" type="text" class="form-control" placeholder="Enter Training Amount"
                                    name="amount">
                            </div>
                            <div class="col">
                                <label>Discount Amount</label>
                                <input formControlName="discountAmount" type="text" class="form-control" placeholder="Discount Amount"
                                    name="discountAmount">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Image URL</label>
                                <div class="spinner-border ml-2 mr-2"></div>
                                Loading...
                                <input formControlName="photo" type="file" class="form-control" id="imgurl" name="photo"  (change)="onFileChange($event)">
                            </div>
                            <div class="col">
                                <label>Sample Video URL</label>
                                <input formControlName="sampleVideoUrl" type="text" class="form-control" placeholder="Sample Video URL"
                                    name="sampleVideoUrl">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label for="domainId">Domain</label>
                                <select formControlName="domainId" class="form-control" (change)="getCategoryList($event)">
                                    <option>Select the domain</option>
                                    <option  [value]="domain.domainId" *ngFor="let domain of domainDetail">{{domain.domainName}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="category">Category</label>
                                <select formControlName="category" class="form-control" (change)="getSubCategoryList($event)">
                                    <option>Select the category</option>
                                    <option  [value]="category.categoryId"  *ngFor="let category of categoryDetail">{{category.categoryName}}</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label for="subcategory">Sub Category</label>
                                <select formControlName="subcategory" class="form-control">
                                    <option value="0">sub category</option>
                                    <option [value]="subCategory.subcategoryId" *ngFor="let subCategory of subCategoryDetail">{{subCategory.subcategoryName}}</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="domainId">Language</label>
                                <select formControlName="languageId" class="form-control">
                                    <option>Select the language</option>
                                    <option [value]="language.languageId" *ngFor="let language of languageDetail">{{language.languageName}}</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label for="category">Medium</label>
                                <select formControlName="medium" class="form-control">
                                    <option >slect your medium</option>
                                    <option value="0">Online</option>
                                    <option value="1">Offline</option>
                                    <option value="2">Hybrid</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>Class Links</label>
                                <input formControlName="classLink" type="text" class="form-control" placeholder="Class Links" name="classLink">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Prerequisite</label>
                                <ckeditor formControlName="prerequisite" name="myckeditor" debounce="300" [editor]="editor"></ckeditor>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Perks</label>
                                <ckeditor formControlName="perks" name="myckeditor" debounce="300" [editor]="editor"></ckeditor>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Description</label>
                                <ckeditor formControlName="description" name="myckeditor" debounce="300" [editor]="editor"></ckeditor>
                            </div>
                        </div>
                        <div class="row mb-4 ">
                            <div class="col d-flex justify-content-center">
                                <button type="submit" (click)="addTraining()">ADD</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>