<div class="container mt">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="dashboard_wrap">
                <div class="form_blocs_wrap">
                    <form  class="p-3" [formGroup]="addTrainingForm" enctype="multipart/form-data" (ngSubmit)="insertTrainingDetail()">
                        <div class="row">
                            <div class="col-6 add mb">
                                <h3 class="txt-color">Add Training</h3>
                            </div>
                        </div>
                        <div class="row mt-5 mb-4">
                            <div class="col">
                                <label>Training Name</label>
                                <input type="text" class="form-control" formControlName="trainingName" placeholder="Enter the Training Name"
                                    name="trainingName">
                            </div>
                            <div class="col">
                                <label>Training Slug</label>
                                <input type="text" class="form-control" formControlName="trainingSlug" placeholder="Training Slug"
                                    name="trainingNSlug">
                            </div>
                            <div class="col">
                                <label for="learnersLevel">Learners Level</label>
                                <input type="text" class="form-control" placeholder="Beginners" name="trainingName">
                            </div>
                            <div class="col">
                                <label>Stack</label>
                                <input type="text" class="form-control" placeholder="Stack" name="stack">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Training Amount</label>
                                <input type="text" class="form-control" placeholder="Enter Training Amount"
                                    name="amount">
                            </div>
                            <div class="col">
                                <label>Discount Amount</label>
                                <input type="text" class="form-control" placeholder="Discount Amount"
                                    name="discountAmount">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Image URL</label>
                                <div class="spinner-border ml-2 mr-2"></div>
                                Loading...
                                <input type="file" (change)="onFileSelect($event)" class="form-control" id="imgurl" name="imgurl">
                            </div>
                            <div class="col">
                                <label>Sample Video URL</label>
                                <input type="text" class="form-control" placeholder="Sample Video URL"
                                    name="sampleVideoUrl">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label for="category">Category</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="subcategory">Sub Category</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label for="domainId">Language</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="category">Medium</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label for="domainId">Domain</label>
                                <select class="form-control">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col">
                                <label>Class Links</label>
                                <input type="text" class="form-control" placeholder="Class Links" name="classLink">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Prerequisite</label>
                                <ckeditor name="myckeditor" debounce="300" [editor]="editor"></ckeditor>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Perks</label>
                                <ckeditor name="myckeditor" debounce="300" [editor]="editor"></ckeditor>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Description</label>
                                <ckeditor name="myckeditor" debounce="300" [editor]="editor"></ckeditor>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                                <label>Syllabus</label>
                                <ckeditor name="myckeditor" debounce="300" [editor]="editor"></ckeditor>
                            </div>
                        </div>
<button type="submit" class="formControl btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>