<div class="ed_detail_head">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="authi_125">
          <div class="authi_125_thumb">
            <img src="assets/img/t-2.png" class="img-fluid rounded" alt="" />
          </div>
          <a href="#" class="klio_45"><div class="lklo_45"><i class="fas fa-play"></i></div><h6>Preview</h6></a>
        </div>
      </div>

      <div class="col-lg-9 col-md-12 col-sm-12">
        <div class="dlkio_452">
          <div class="ed_detail_wrap">
            <div class="crs_cates cl_1"><span>Web Design</span></div>
            <!-- <div class="crs_cates cl_3"><span>PHP</span></div> -->
            <div class="ed_header_caption">
              <h2 class="ed_title">Namrta K. Mehta</h2>
              <ul>
                <li><i class="fa fa-phone"></i>9876789098</li>
                <li><i class="fa fa-envelope"></i>aaa@gmail.com</li>
                <!-- <li><i class="ti-user"></i>502 Student Enrolled</li> -->
              </ul>
            </div>
            <div class="ed_header_short">
              <p>Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum.
                 accusantium doloremque laudantium,vitae dicta Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Provident tempora nesciunt nobis eaque repudiandae quae molestiae
                 delectus facilis aperiam! Laborum sequi asperiores consequatur quo velit eaque
                 architecto eos excepturi. Laborum? Lorem ipsum dolor sit amet consectetur adipisicing
                 elit. Quis, ratione molestiae atque beatae, nam iusto, alias officiis corporis culpa
                 accusantium laudantium inventore sed. Ut nesciunt cupiditate obcaecati tempora ipsam
                 veniam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure non ad labore
                 commodi libero error cupiditate deleniti enim reprehenderit consectetur sed voluptates
                 id totam blanditiis assumenda aliquid, aperiam molestiae sit?</p>
            </div>

            <div class="ed_rate_info">
              <div class="star_info">
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star filled"></i>
                <i class="fas fa-star"></i>
              </div>
              <div class="review_counter">
                <strong class="high">4.7</strong> 3572 Reviews
              </div>
            </div>

          </div>
          <div class="dlkio_last">
            <div class="ed_view_link">
              <!-- <a href="#" class="btn theme-bg enroll-btn">Get Membership<i class="ti-angle-right"></i></a>
              <a href="#" class="btn theme-border enroll-btn">Share<i class="fas fa-share"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
