<div class="container mt">
	<div class="row">
	  <div class="col-xl-12 col-lg-12 col-md-12">
		<div class="dashboard_wrap">
		  <div class="form_blocs_wrap">
			<div class="row">
			  <div class="col-6 add mb">
				<h3 class="txt-color">Topic List</h3>
			  </div>
			  <div class="col-6 text-right add mb align-self-center">
				<div>
				  <a href="#" class="add_new_btn" data-toggle="modal" data-target="#addEditTopicList"
				  (click)="resetAddModal()"><i class="fas fa-plus-circle mr-1"></i>Add Topic</a>
				</div>
			  </div>
			  <div class="col-12">
				<hr class="mt" />
			  </div>
			  <div class="modal fade" id="addEditTopicList" role="dialog" #closemodal>
				<div class="modal-dialog">
				  <div class="modal-content">
					<div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal">
						&times;
					  </button>
					  <h4 class="modal-title">
						{{ isAddTopic ? "Add New Topic" : "Update Topic" }}
					  </h4>
					</div>
					<div class="modal-body">
					  <form #moduleForm="ngForm" ngsubmit="onsubmit(topicForm)" name="topicList">
						<div>
						  <label>Topic:</label>
						  <input type="text" id="topicName" [(ngModel)]="topicListData.topicName"
							placeholder="Enter the Topic name" class="form-control"  required name="topicListName"
							#topicListName="ngModel"/>
							<p class="text-danger"
							*ngIf="topicListName.errors?.['required'] && (topicListName.touched || topicListName.dirty)">
							*Topic Name required
						  </p>
						</div>
						<div class="row pt-2">
						  <div class="form-group col-lg-8">
							<label>Order:</label>
							<input type="number" class="border form-control" [(ngModel)]="topicListData.order"
							  placeholder="Order number" class="form-control" required name="topicListOrder"
							  #topicListOrder="ngModel"/>
							  <p class="text-danger"
							  *ngIf="topicListOrder.errors?.['required'] && (topicListOrder.touched || topicListOrder.dirty)">
							  *Order required
							</p> 
							</div>
						  <div class="col-lg-4 col-md-4 col-sm-12">
							<div class="form-group">
							  <label>Active Status<i class="req">*</i></label>
							  <select id="topicActive" name="topicActive" class="form-control"
							  [(ngModel)]="topicListData.activeStatus">
								<option value="">&nbsp;</option>
								<option value="0">Active</option>
								<option value="1">Inactive</option>
								<option value="2">Notverified</option>
								<option value="3">Blocked</option>
							  </select>
							</div>
						  </div>
						</div>
					  </form>
					</div>
					<div class="modal-footer">
					  <button type="submit" class="btn"
					  (click)="isAddTopic
                      ? insertTopic()
                      : updateTopic()" [disabled]="moduleForm.invalid">
					  {{ isAddTopic ? "Save" : "Update" }}
					  </button>
					  <button type="button" class="btn" data-dismiss="modal">
						Close
					  </button>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="col-12">
				<table class="table mx-auto text-center dash_list">
				  <thead>
					<tr>
					  <th class="text-center">SI#</th>
					  <th class="text-center">Topic Name</th>
					  <th class="text-center">Order</th>
					  <th class="text-center">Status</th>
					  <th class="text-center">Action</th>
					</tr>
				  </thead>
				  <tbody>
					<tr>
					  <td>1</td>
					  <td>Web Designing</td>
					  <td>2</td>
					  <td class="dash_list">
						
						<span class="trip theme-cl theme-bg-light" >Active
						</span>
						
					  </td>
					  <td>
						<button class="btn" data-toggle="modal" data-target="#addEditModuleList">
						  Edit
						</button>
						<button class="btn">
						  Delete
						</button>
					  </td>
					</tr>
				  </tbody>
				</table>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>