<div class="row" *ngFor="let items of trainingList">
	<div class="col-xl-12 col-lg-12 col-md-12 mb-2 mt-4">
		<div  class="table-responsive">
			<table class="table dash_list ">
				<thead>
					<tr>
						<th scope="col">Sl.No</th>
						<th scope="col">Title</th>
						<th scope="col">Category</th>
						<th scope="col">Enrolled</th>
						<th scope="col">Status</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let items of trainingList ; let i = index">
						<th scope="row">{{items.trainingId}}</th>
						<td >
							<h6 >{{items.trainingSlug}}</h6>
							<p>Instructor:<span>Gabriel L. William</span></p>
							<p>&#X20B9;{{items.amount}}</p>
						</td>
						<td>
							<div class="dhs_tags">Finance</div>
						</td>
					
						<td><span class="smalls">Total: 12</span></td>
						<td><span class="trip theme-cl theme-bg-light">Active</span></td>
	
						<td>
							<div class="dropdown show">
								<a class="btn btn-action" href="#" data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									<i class="fas fa-ellipsis-h"></i>
								</a>
								<div class="drp-select dropdown-menu">
									<a (click)="getId(items.trainingId)" class="dropdown-item" href="JavaScript:Void(0);">View</a>
									<a class="dropdown-item" href="JavaScript:Void(0);">Edit</a>
									<a class="dropdown-item" href="JavaScript:Void(0);">Delete</a>
								</div>
							</div>
						</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div> 

