<div class="ed_detail_head">
    <div class="container  ">
        <div class=" card row align-items-center  mb-5">
            <div class="  col-lg-3 col-md-12 col-sm-12">
                <div class="authi_125">
                    <div class="authi_125_thumb">
                        <img src="assets/img/b-3.png" class="img-fluid rounded" alt="" />
                    </div>
                    <a href="#" class="klio_45"><div class="lklo_45"><i class="fas fa-play"></i></div><h6>Preview</h6></a>
                </div>
            </div>
            
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div class="dlkio_452">
                    <div class="ed_detail_wrap">
                        <div class="crs_cates cl_1"><span>Web Design</span></div><div class="crs_cates cl_3"><span>PHP</span></div>
                        <div class="ed_header_caption">
                            <h2 class="ed_title">Namrta K. Mehta</h2>
                            <ul>
                                <li><i class="ti-calendar"></i>10 - 20 weeks</li>
                                <li><i class="ti-control-forward"></i>102 Lectures</li>
                                <li><i class="ti-user"></i>502 Student Enrolled</li>
                            </ul>
                        </div>
                        <div class="ed_header_short">
                            <p>Excepteur sint occaecat cupidatat non proident, deserunt mollit anim id est laborum. accusantium doloremque laudantium,vitae dicta <a href="#" class="theme-cl">Read More..</a>.</p>
                        </div>
                        
                        <div class="ed_rate_info">
                            <div class="star_info">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="review_counter">
                                <strong class="high">4.7</strong> 3572 Reviews
                            </div>
                        </div>
                        
                    </div>
                    <div class="dlkio_last">
                        <div class="ed_view_link">
                            <a href="#" class="btn theme-bg enroll-btn">Get Membership<i class="ti-angle-right"></i></a>
                            <a href="#" class="btn theme-border enroll-btn">Share<i class="fas fa-share"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
