<div class="clearfix"></div>
<div class="ed_detail_head">
  <div class="container">
    <div class="row align-items-center mb-2">
      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
        <div class="dlkio_452">
          <div class="ed_detail_wrap">
            <div class="d-flex justify-content-between mt-5">
              <div>
                <div class="crs_cates cl_1"><span>Active</span></div>
                <div class="ed_header_caption">
                  <h5>chapter:</h5>
                </div>
              </div>
              <div class="dro_140">
                <div class="dro_141 st-1 text-color">
                  <i class="fa fa-video"></i>
                </div>
                <div class="dro_142">
                  <h6>Live Sessions</h6>
                </div>
              </div>
            </div>
            <h2 class="ed_title">
              Advance PHP knowledge with laravel to make smart web
            </h2>
            <div class="ed_header_short text-dark">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia deserunt mollit anim id est laborum. accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 ">
        <div class="property_video radius lg mb-4">
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/A8EI6JaFbv4" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <div class="overlay_icon">
            </div>
        </div>
        <div class="d-flex justify-content-around">
          <div>
            <span>Created By</span>
            <h6>Amar Malicalum</h6>
          </div>
          <div>
            <span>Created By</span>
            <h6>Amar Malicalum</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="gray pt-3">
    <div class="container">
      <div class="row justify-content-between order">
        <div class="col-lg-8 col-md-12 order-lg-first order-sm-last">
          <div class="tab_box_info mt-7">
            <ul class="nav nav-pills mb-3 light" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="overview-tab" data-toggle="pill" href="#overview" role="tab"
                  aria-controls="overview" aria-selected="true">Descrption</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="curriculum-tab" data-toggle="pill" href="#curriculum" role="tab"
                  aria-controls="curriculum" aria-selected="false">Resourse</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                <div class="edu_wraper">
                  <h4 class="edu_title">Topic Descrption</h4>
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et quas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et
                    dolorum fuga. Et harum quidem rerum facilis est et expedita
                    distinctio.
                  </p>
                  <p>
                    Aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto. Sam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni
                    dolores eos qui ratione voluptatem sequi nesciunt.
                  </p>
                  <h6>Requirements</h6>
                  <ul class="simple-list p-0">
                    <li>
                      At vero eos et accusamus et iusto odio dignissimos ducimus
                    </li>
                    <li>
                      At vero eos et accusamus et iusto odio dignissimos ducimus
                    </li>
                    <li>
                      At vero eos et accusamus et iusto odio dignissimos ducimus
                    </li>
                    <li>
                      At vero eos et accusamus et iusto odio dignissimos ducimus
                    </li>
                    <li>
                      At vero eos et accusamus et iusto odio dignissimos ducimus
                    </li>
                  </ul>
                </div>
              </div>
              <div class="tab-pane fade" id="curriculum" role="tabpanel" aria-labelledby="curriculum-tab">
                <div class="edu_wraper">
                  <h4 class="edu_title">Resourse</h4>
                  <div id="accordionExample" class="accordion shadow circullum">
                    <div class="card">
                      <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                        <h6 class="mb-0 accordion_title">
                          <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne"
                            class="d-block position-relative text-dark collapsible-link py-2">Part 01: How To Learn
                            Web Designing Step by Step</a>
                        </h6>
                      </div>
                      <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample"
                        class="collapse show">
                        <div class="card-body pl-3 pr-3">
                          <ul class="lectures_lists">
                            <li class="complete">
                              <div class="lectures_lists_title">
                                <i class="fas fa-check dios"></i>
                              </div>
                              Web Designing Beginner<span class="cls_timing">40:20</span>
                            </li>
                            <li class="progressing">
                              <div class="lectures_lists_title">
                                <i class="fas fa-play dios"></i>
                              </div>
                              Startup Designing with HTML5 & CSS3<span class="cls_timing">20:12</span>
                            </li>
                            <li class="unview">
                              <div class="lectures_lists_title">
                                <i class="fa fa-lock dios lock"></i>
                              </div>
                              How To Call Google Map iFrame<span class="cls_timing">32:10</span>
                            </li>
                            <li class="unview">
                              <div class="lectures_lists_title">
                                <i class="fa fa-lock dios lock"></i>
                              </div>
                              Create Drop Down Navigation Using CSS3<span class="cls_timing">25:05</span>
                            </li>
                            <li class="unview">
                              <div class="lectures_lists_title">
                                <i class="fa fa-lock dios lock"></i>
                              </div>
                              How to Create Sticky Navigation Using JS<span class="cls_timing">18:10</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>  
                </div>     



             