<div class="dashboard-navbar page-sidebar custom-scrollbar">
    <div class="d-navigation">
        <ul class="">
            <li *ngFor="let menuItem of menuItems;let i=index;"
                [ngClass]="{active: menuItem.active,show:menuItem.active}">
                <a href="javascript:void(0)" (click)="toggletNavActive(menuItem)">
                    <i class={{menuItem.icon}}></i>{{menuItem.title}}
                    <span class="ti-angle-left" *ngIf="menuItem.children"></span>
                </a>
                <div *ngIf="menuItem.children" [ngClass]="menuItem.active?'d-block':'d-none'">
                    <ul #submenu class="" *ngIf="menuItem.children">
                        <li *ngFor="let childrenItem of menuItem.children;let i=index;"
                            [ngClass]="{active: childrenItem.active}">
                            <a class="" href={{childrenItem.path}}>{{childrenItem.title}}</a>
                        </li>
                    </ul>
                </div>
            </li>


        </ul>
    </div>
</div>
