<div class="container mt">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="dashboard_wrap">
        <div class="form_blocs_wrap">
          <div class="row">
            <div class="col-6 add mb">
              <h3 class="txt-color">Country List</h3>
            </div>
            <div class="col-6 text-right add mb align-self-center">
              <div>
                <a href="#" class="add_new_btn" data-toggle="modal" data-target="#addEditCountry"
                  (click)="resetAddModal();"><i class="fas fa-plus-circle mr-1"></i>Add Country</a>
              </div>
            </div>
            <div class="col-12">
              <hr class="mt" />
            </div>

            <!-- Modal for Add Country and Edit Country -->
            <div class="modal fade" id="addEditCountry" role="dialog" #closemodal>
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                      &times;
                    </button>
                    <h4 class="modal-title">
                      {{ isAddCountry ? "Add New Country" : "Update Country" }}
                    </h4>
                  </div>
                  <div class="modal-body">
                    <form #countryForm="ngForm" name="country">
                      <label>Enter the Country Name:</label>
                      <input type="text" id="countryName" [(ngModel)]="countryData.countryName"
                        placeholder="Enter the country name" class="form-control" required name="countryName"
                        #countryName="ngModel" />
                      <p class="alert-msg"
                        *ngIf="countryName.errors?.['required'] && (countryName.touched || countryName.dirty)">
                        Please Enter the Country Name
                      </p>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn" (click)="isAddCountry ? insertCountry() : updateCountry()"
                      [disabled]="countryForm.invalid">
                      {{ isAddCountry ? "Save" : "Update" }}
                    </button>

                    <button type="button" class="btn" data-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <table class="table mx-auto text-center">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Country Id</th>
                    <th class="text-center">Country Code</th>
                    <th class="text-center">Country Name</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>TN</td>
                    <td>Tamil Nadu</td>
                    <td>
                      <button class="btn" data-toggle="modal" data-target="#addEditCountry"
                        (click)="isAddCountry=false; isEditCountry=true; sendCountry">
                        Edit
                      </button>
                      <button class="btn" (click)="deleteCountry()">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="getCountry()">check</button>
