<div class="container mt">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="dashboard_wrap">
                <div class="form_blocs_wrap">
                    <div class="row">
                        <div class="col-6 add mb">
                            <h3 class="txt-color">Sub Category</h3>
                        </div>
                        <div class="col-6 text-right add mb align-self-center">
                            <div class="">
                                <a href="#" class="add_new_btn" data-toggle="modal" data-target="#addEditSubCategory"
                                    (click)="resetAddModal();"><i class="fas fa-plus-circle mr-1"></i>Add
                                    Sub-Category</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mt" />
                        </div>

                        <!-- Modal for Add Domain and Edit Domain -->
                        <div class="modal fade" id="addEditSubCategory" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <ng-container *ngIf="isAddSubCategory">
                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">Add New Sub-Category</h4>
                                        </ng-container>
                                        <ng-container *ngIf="isEditSubCategory">
                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">Update Sub-Category</h4>
                                        </ng-container>
                                    </div>
                                    <div class="modal-body">
                                        <ng-container *ngIf="isAddSubCategory">
                                            <label>Enter the Sub-Category Name:</label>
                                            <input type="text" [ngModelOptions]="{ standalone: true }"
                                                [(ngModel)]="subCategoryData.subCategoryName"
                                                placeholder="Enter the sub-category name" class="form-control" />
                                        </ng-container>

                                        <ng-container *ngIf="isEditSubCategory">
                                            <label>Sub-Category Name:</label>
                                            <input type="text" [ngModelOptions]="{ standalone: true }"
                                                [(ngModel)]="subCategoryData.subCategoryName"
                                                placeholder="Edit the category name" class="form-control" />
                                        </ng-container>
                                    </div>
                                    <div class="modal-footer">
                                        <ng-container *ngIf="isAddSubCategory">
                                            <button data-dismiss="modal" type="button" (click)="insertSubCategory()"
                                                class="btn">
                                                Save
                                            </button>
                                        </ng-container>
                                        <ng-container *ngIf="isEditSubCategory">
                                            <button data-dismiss="modal" type="button" class="btn"
                                                (click)="updateSubCategory()">
                                                Update
                                            </button>
                                        </ng-container>
                                        <button type="button" class="btn" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <table class="table mx-auto text-center">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Sub-Category Id</th>
                                        <th class="text-center">Sub-Category Name</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button class="btn" data-toggle="modal" data-target="#addEditSubCategory"
                                                (click)="isAddSubCategory=false; isEditSubCategory=true;">Edit</button>
                                            <button class="btn" (click)="deleteSubCategory()">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>