<div class="container mt">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="dashboard_wrap">
                <div class="form_blocs_wrap">
                    <div class="row">
                        <div class="col-6 add mb">
                            <h3 class="txt-color">Subcategory</h3>
                        </div>
                        <div class="col-6 text-right add mb align-self-center">
                            <div>
                                <a href="#" class="add_new_btn" data-toggle="modal" data-target="#addEditSubCategory"
                                    (click)="resetAddModal();"><i class="fas fa-plus-circle mr-1"></i>Add
                                    Subcategory</a>
                            </div>
                        </div>
                        <div class="col-12">
                            <hr class="mt" />
                        </div>

                        <!-- Modal for Add Subcategory and Edit Subcategory -->
                        <div class="modal fade" id="addEditSubCategory" role="dialog" #closemodal>
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            &times;
                                        </button>
                                        <h4 class="modal-title">
                                            {{ isAddSubCategory ? "Add New Subcategory" : "Update Subcategory" }}
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form #subcategoryForm="ngForm" name="subcategory">
                                            <label>Enter the Subcategory Name:</label>
                                            <input type="text" id="subcategoryname" [(ngModel)]="subCategoryData.subCategoryName"
                                                placeholder="Enter the subcategory name" class="form-control" required
                                                name="subcategoryname" #subcategoryname="ngModel" />
                                            <p class="alert-msg"
                                                *ngIf="subcategoryname.errors?.['required'] && (subcategoryname.touched || subcategoryname.dirty)">
                                                Please Enter the Subcategory Name
                                            </p>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn"
                                            (click)="isAddSubCategory ? insertSubCategory() : updateSubCategory()"
                                            [disabled]="subcategoryForm.invalid">
                                            {{ isAddSubCategory ? "Save" : "Update" }}
                                        </button>

                                        <button type="button" class="btn" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <table class="table mx-auto text-center">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Subcategory Id</th>
                                        <th class="text-center">Subcategory Name</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>Angular</td>
                                        <td>
                                            <button class="btn" data-toggle="modal" data-target="#addEditSubCategory"
                                            (click)="isAddSubCategory=false; isEditSubCategory=true;sendSubCategory">
                                            Edit
                                          </button>
                                            <button class="btn" (click)="deleteSubCategory()">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>