<div class="container mb-5 mb-lg-0">
    <form action="#" class="p-3">
        <div class="row mt-5 mb-4">
            <div class="col">
                <label>Training Name</label>
                <input type="text" class="form-control" placeholder="Enter the Training Name" name="trainingName">
            </div>
            <div class="col">
                <label for="learnersLevel">Learners Level</label>
                <select class="form-control">
                    <option>Select Learners Level</option>
                    <option>Beginners</option>
                    <option>Intermediaters</option>
                    <option>Advanced</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label>Prerequisite</label>
                <input type="text" class="form-control" placeholder="Enter the Prerequisite" name="prerequisite">
            </div>
            <div class="col">
                <label>Description</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label>Training Amount</label>
                <input type="text" class="form-control" placeholder="Enter Training Amount" name="amount">
            </div>
            <div class="col">
                <label>Discount Amount</label>
                <input type="text" class="form-control" placeholder="Discount Amount" name="discountAmount">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label>Image URL</label>
                <input type="text" class="form-control" placeholder="Image URL" name="imageUrl">
            </div>
            <div class="col">
                <label>Sample Video URL</label>
                <input type="text" class="form-control" placeholder="Sample Video URL" name="sampleVideoUrl">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label>Perks</label>
                <input type="text" class="form-control" placeholder="Perks" name="perks">
            </div>
            <div class="col">
                <label>Stack</label>
                <input type="text" class="form-control" placeholder="Stack" name="stack">
            </div>
        </div>
    </form>
</div>