<div class="crs_grid">
    <div class="crs_grid_thumb">
        <a href="course-detail.html" class="crs_detail_link">
            <img src="{{environment.baseUrl + cardDetails.imageUrl}}" class="img-fluid rounded" alt="" />
        </a>
        <div class="crs_video_ico">
            <i class="fa fa-play"></i>
        </div>
        <div class="crs_locked_ico">
            <i class="fa fa-lock"></i>
        </div>
    </div>
    <div class="crs_grid_caption">
        <div class="crs_flex">
            <div class="crs_fl_first">
                <div class="crs_cates cl_3"><span>{{cardDetails.domain.domainName}}</span></div>
            </div>
        </div>
        <div class="crs_title">
            <h4><a href="course-detail.html" class="crs_title_link">{{cardDetails.trainingName}}</a></h4>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore exercitationem, quisquam aperiam fuga
            ullam incidunt corporis amet sed recusandae.</p>
        <div class="crs_info_detail">
            <ul>
                <li><i class="fa fa-clock text-danger"></i><span>{{cardDetails.totalHours}}</span></li>
                <li><i class="fa fa-video text-success"></i><span>{{cardDetails.numberOfLectures}}</span></li>
            </ul>
        </div>
    </div>
    <div class="crs_grid_foot">
        <div class="crs_flex">
            <div class="crs_fl_first">
                <div class="progress">
                    <div class="progress-bar  bg-info" role="progressbar" aria-label="course-prograss"
                        style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        {{cardDetails.progress}}30%
                    </div>
                </div>
            </div>
        </div>
        <div class="toggle bar d-flex">
            <div class="form-group col-lg-8">
                <label class="status row">
                </label>
                <label class="toggle-switch mt-3  spaceBetween row " style="height: 23px;">
                    <input type="checkbox" checked class="change-color" (click)="toggleDisplayDiv()">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="create mt-4 ms-5">
                <h6>created by</h6>
            </div>
        </div>
    </div>